body{
    margin: 5px;
    padding: 5px;
    width: 100%;
    justify-content: center;
}

.custom-navbar{
   background-color: white;
}

.custom-link{
    color: black;
    text-decoration: none;
}

.intro-section{
    width: 100%;
    height: auto;
    margin-top: 60px;
    text-align: center;
    background-image: url("../../assets/images/background\ for\ top.jpg");
}

.hero-image{
    width: 65%;
    margin: 70px 200px 30px 200px;
    height: auto;
}

.contact-button{
    text-align: center;
    width: 30%;
    border-radius: 10px;
    border: 10px white;
    background-color: #67960f;
    color: white;
    font-weight: bold;
    height: 60px;
    margin: 0px 20px 20px 20px;
}

.services-button{ 
    text-align: center;
    width: 30%;
    border-radius: 10px;
    border: 10px white;
    color: white;
    font-weight: bold;
    background-color: #67960f;
    height: 60px;
    margin: 0px 20px 20px 20px;
}

.mission-statement{
    margin: 100px;
    width: auto;
    text-align: center;
}

.mission-text{
    font-size: 50px;
    margin: 20px;
}

.mower-mission{
    width: 700px;
    height: auto;
    margin: 60px;
}

.about{
    width: 80%;
    height: 600px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 80px;
}

.about-image{
    float: left;
    height: fit-content;
    width: 50%;
    height: auto;
    margin: 20px;
}

.about-title{
   text-align: center;
   margin-top: 20px;
   margin-bottom: 10px;
   width: 100%;
}

.about-info{
    text-align: center;
    font-size: 20px;
    margin: 10px;
}

.services{
    width: 80%;
    height: 650px;
    margin: auto;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: center;
    text-align: center;
}

.services-title{
    margin-top: 60px;
    width: 100%;
    
}

.mower{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    height: fit-content;
    text-align: center;
}


.mower-icon{
    height: auto;
    width: 100%;
}

.mower-info{
    width: 100%;
    margin: auto;
}

.window-cleaner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    height: 200px;
    text-align: center;
}

.window-cleaner-icon{
    height: auto;
    width: 100%;
}


.window-info{
    width: 100%;
    margin: auto;
}

.gutter-cleaner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 30%;
    height: 200px;
    text-align: center;
}

.gutter-cleaner-icon{
    text-align: center;
    height: auto;
    width: 100%;
}

.gutter-info{
    width: 100%;
    margin: auto;
}

.contact{
    position: relative;
    width: 80%;
    height: auto;
    margin: auto;
    margin-bottom: 200px;
    text-align: center;
}

.linked-in{}

.instagram{}

.facebook{}

.twitter{} 


@media only screen and (max-width: 440px) {
    body {
      width: 100%;
      text-align: center;
      justify-content: center;
      margin: 0;
    }
    .custom-navbar{
        display: none;
    }
    .intro-section{
        margin-top:0;
        width: 100%;
        height: 830px;
    }
    .hero-image{
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 200px;
        margin-bottom: 100px;
    }
    .intro-button{
        width:80%;
    }
    .mission-statement{
        margin: 0;
        margin-top: 200px;
        width: 100%;
    }
    .mission-text{
        font-size: 20px;
    }
    .mower-mission{
        width: 300px;
        margin:0;
    }
    .about{
        margin-top:200px;
        height:fit-content
    }
    .about-image{
        width: 90%;
    }
    .services{
        height:fit-content
    }
    .mower{
        width: 100%;
        height: auto;
    }
    .window-cleaner{
        width: 100%;
        height: auto;
    }
    .gutter-cleaner{
        width: 100%;
        height: auto;
    }
    .contact{
        width: 100%;
    }
    .bottom-btns{
        width: 80%;
    }
}

@media only screen and (max-width: 820px) {
    body {
      width: 80%;
      text-align: center;
      justify-content: center;
      margin: 0;
    }
    .custom-navbar{
        margin: 0;
        width: 660px;
    }
    .intro-section{
        margin-top: 0;
        width: 100%;
        height: 900px;
    }
    .hero-image{
        width: 100%;
        height: auto;
        margin: auto;
        margin-top: 200px;
        margin-bottom: 100px;
    }
    .intro-button{
        width:80%;
    }
    .mission-statement{
        margin: 0;
        margin-top: 200px;
        width: 100%;
    }
    .mission-text{
        font-size: 20px;
    }
    .mower-mission{
        width: 300px;
        margin:0;
    }
    .about{
        margin-top:200px;
        height:fit-content
    }
    .about-image{
        width: 90%;
    }
    .services{
        height:fit-content
    }
    .mower{
        width: 100%;
        height: auto;
    }
    .window-cleaner{
        width: 100%;
        height: auto;
    }
    .gutter-cleaner{
        width: 100%;
        height: auto;
    }
    .contact{
        width: 100%;
    }
    .bottom-btns{
        width: 80%;
    }
}